ul{
	list-style: none;
}

#header a {
	color: white;
	text-decoration:none;
	margin-right:100px;
	margin-left: 100px;
	font-family: Monteserrat;
}

#header a:hover {
	color: red;
	
}

#dropdown a {
	font-family: Monteserrat;
	color: white;
}

#dropdown .dropdown a{
	color: blue;
}

#dropdown a:hover{
	color: red;
}
.container-fluid a: hover {
 	color: red;
}


h1{
	font-size: 45px;
	text-align: center;
	background-color: darkgoldenrod;
	padding: 15px;
	margin-top: 5px;
	font-family: Montserrat:wght@900;
}

.carousel-heading{
	color: red;
	font-family: roboto;
}

.carousel-content{
	color: blueviolet;
}

.sectiongrid {
	color: blue;
	padding: 25px;
	text-align: center;
}
.heading{
	font-family: roboto;
	color: lightcoral;
	text-align: center;
}

p {
	
	margin-left: 25px;
	margin-right: 25px;
	font-family: Montserrat ;

}

.photo {
	width: 100px;
	height: 100px;
	margin-left: 30%;
	border-radius: 50%;
}
footer{
	color: white;
	background-color: darkgoldenrod;
	padding: 2.5px;
	text-align: left;
}

body{
	background-image: url('logo.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 50% 100%;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}
